body{
	background-image: url(../resource/congruent_pentagon.png);
}
*{
	margin: 5px;
	padding: 0px;
	border-radius:5px;

}
.container {
	display: flex;  
	flex-flow: row wrap;
	text-align: center;
}

.container > * {
	padding: 25px;
	flex: 1 100%;
}

.main {
	text-align: left;
}

header {
	background-image:url(../resource/food.png); 
	color:black; 
	border: 1px solid darkgreen;
	color: darkgreen;
	box-shadow:2px 2px black;
}
footer {
	background-image:url(../resource/food.png); 
	color:black; 
	border: 1px solid darkgreen;
	box-shadow:2px 2px black;
}
.navmain {
	background-color:darkseagreen;
	color:black; 
	border: 1px solid darkgreen;
	box-shadow:2px 2px black;
	width: 170px;
}

ul>li{
	padding: 5px;
	margin: 5px;
	background-color: aliceblue;
	border: 1px solid black;
}

ul {
	list-style-type: none;
}
.nav ul a {
	color: blue;
	text-decoration: none;
}
ul>li>a:link{
	color: black;
	text-decoration: none;
}
ul>li>a:visited{
	color:black;
	text-decoration: none;
}
.menulist>ul>li:hover{
	background-color:chartreuse;
}
h3{
	color: black; 
	text-shadow: 1px 1px white;
}
img{
	width: 400px;
}
figure{
	text-align: center;
}
.indataclass{
	margin: 5px;
	width: 40px;
	height: 20px;
	text-align: center;
}

@media all and (min-width: 768px) {
	.navmain {
		text-align:left;
		flex:1 auto;
		order:1;
	}
	.main {
		flex:5 0px;
		order:2;
	}
	footer {
		order:3;
	}
}
body{ 
	margin: 20px; 
}
h1 { 
	font-size: 1.5em; 
	margin: 10px; 
}
/*Star Rating*/

.starRating:not(old){
	display        : inline-block;
	width          : 11em;
	height         : 1.9em;
	overflow       : hidden;
	vertical-align : bottom;
}

.starRating:not(old) > input{
	margin-right : -100%;
	opacity      : 0;
}

.starRating:not(old) > label{
	display : block;
	float: right;
	position: relative;
	background-image: url('../resource/star-off.svg');
	background-repeat: repeat-y;
	background-size : contain;
}

.starRating:not(old) > label:before{
	content         : '';
	display         : block;
	width           : 1.5em;
	height          : 1.5em;
	background: url('../resource/star-on.svg');
	background-size : contain;
	opacity         : 0;
	transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
	opacity : 1;
}
