body{
	background-image: url(../resource/congruent_pentagon.png);
}
*{
	margin: 5px;
	padding: 0px;
	border-radius:5px;

}
.container {
	display: flex;  
	flex-flow: row wrap;
	text-align: center;
}

.container > * {
	padding: 25px;
	flex: 1 100%;
}

.main {
	text-align: left;
}

header {
	background-image:url(../resource/food.png); 
	color:black; 
	border: 1px solid darkgreen;
	color: darkgreen;
	box-shadow:2px 2px black
}
footer {
	background-image:url(../resource/food.png); 
	color:black; 
	border: 1px solid darkgreen;
	box-shadow:2px 2px black;
}
.nav {
	background-color:darkseagreen;
	color:black; 
	border: 1px solid darkgreen;
	box-shadow:2px 2px black;
	width: 120px;
}

ul>li{
	
	padding: 5px;
	margin: 5px;
	background-color: aliceblue;
	border: 1px solid black;
}
.nav ul {
	
	list-style-type: none;
	padding: 0;
}
.nav ul a {
	color: blue;
	text-decoration: none;
}
ul>li>a:link{
	color: black;
	text-decoration: none;
}
ul>li>a:visited{
	color:black;
	text-decoration: none;
}
ul>li:hover{
	background-color:chartreuse;
}
h3{
	color: back; 
	text-shadow: 1px 1px white;
}

@media all and (min-width: 768px) {
	.nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
	.main {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
	footer {-webkit-order:3;order:3;}
}


/*Star Rating*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/*Style for Star Rating */

.rating { 
	float: left;
	background-color: black;
}

.rating > input { display: none; } 
.rating > label:before { 
	margin: 7px;
	font-size: 2em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.rating > label { 
	color: #ddd; 
	float: right; 
}

/* betygs skärnor */

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color:yellow;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: chocolate;  } 